body {
  background-color: #000;
  color: #fff;
}

.pokedex-grid {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  gap: 50px;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
}

.pokemon-name {
  font-family: Fantasy, sans-serif;
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
}

.water {
  background-color: aqua;
}